In [1]:
import tensorflow as tf

/Users/qianjay/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
_FEATURE_LEN = {
    'language': 20,
    'channelid': 16,
    'paytype': 2,
    'updatetype': 2,
    'cpid': 6,
    'area': 187,
    'director': 15124,
    'actor': 15231,
    'tag': 9430
}

_FEATURE_EMBEDDING_SIZE = {
    'language': 2,
    'channelid': 2,
    'paytype': 2,
    'updatetype': 2,
    'cpid': 4,
    'area': 16,
    'director': 32,
    'actor': 32,
    'tag': 32
}


updatetype = tf.feature_column.categorical_column_with_vocabulary_list(
            'updatetype', range(_FEATURE_LEN['updatetype']))
channelid = tf.feature_column.categorical_column_with_vocabulary_list(
            'channelid', range(_FEATURE_LEN['channelid']))
area = tf.feature_column.categorical_column_with_vocabulary_list(
            'area', range(_FEATURE_LEN['area']))
cpid = tf.feature_column.categorical_column_with_vocabulary_list(
            'cpid', range(_FEATURE_LEN['cpid']))
actor = tf.feature_column.categorical_column_with_vocabulary_list(
            'actor', range(_FEATURE_LEN['actor']))
director = tf.feature_column.categorical_column_with_vocabulary_list(
            'director', range(_FEATURE_LEN['director']))
language = tf.feature_column.categorical_column_with_vocabulary_list(
            'laguange', range(_FEATURE_LEN['language']))
paytype = tf.feature_column.categorical_column_with_vocabulary_list(
            'paytype', range(_FEATURE_LEN['paytype']))
score = tf.feature_column.numeric_column('score')
tag = tf.feature_column.categorical_column_with_vocabulary_list(
            'tag', range(_FEATURE_LEN['tag']))
year = tf.feature_column.numeric_column('year')

updatetype1 = tf.feature_column.categorical_column_with_vocabulary_list(
            'updatetype1', range(_FEATURE_LEN['updatetype']))
channelid1 = tf.feature_column.categorical_column_with_vocabulary_list(
            'channelid1', range(_FEATURE_LEN['channelid']))
area1 = tf.feature_column.categorical_column_with_vocabulary_list(
            'area1', range(_FEATURE_LEN['area']))
cpid1 = tf.feature_column.categorical_column_with_vocabulary_list(
            'cpid1', range(_FEATURE_LEN['cpid']))
actor1 = tf.feature_column.categorical_column_with_vocabulary_list(
            'actor1', range(_FEATURE_LEN['actor']))
director1 = tf.feature_column.categorical_column_with_vocabulary_list(
            'director1', range(_FEATURE_LEN['director']))
language1 = tf.feature_column.categorical_column_with_vocabulary_list(
            'laguange1', range(_FEATURE_LEN['language']))
paytype1 = tf.feature_column.categorical_column_with_vocabulary_list(
            'paytype1', range(_FEATURE_LEN['paytype']))

score1 = tf.feature_column.numeric_column('score1')
tag1 = tf.feature_column.categorical_column_with_vocabulary_list(
            'tag1', range(_FEATURE_LEN['tag']))
year1 = tf.feature_column.numeric_column('year1')

deep_columns = [
    updatetype,
    tf.feature_column.shared_embedding_columns
        ([channelid, channelid1], dimension=_FEATURE_EMBEDDING_SIZE['channelid']),
    tf.feature_column.shared_embedding_columns
        ([area, area1], dimension=_FEATURE_EMBEDDING_SIZE['area']),
    tf.feature_column.shared_embedding_columns
        ([cpid, cpid1], dimension=_FEATURE_EMBEDDING_SIZE['cpid']),
    tf.feature_column.shared_embedding_columns
        ([actor, actor1], dimension=_FEATURE_EMBEDDING_SIZE['actor']),
    tf.feature_column.shared_embedding_columns
        ([director, director1], dimension=_FEATURE_EMBEDDING_SIZE['director']),
    tf.feature_column.shared_embedding_columns
        ([language, language1], dimension=_FEATURE_EMBEDDING_SIZE['language']),
    tf.feature_column.shared_embedding_columns
        ([paytype, paytype1], dimension=_FEATURE_EMBEDDING_SIZE['paytype']),
    score,
    tf.feature_column.shared_embedding_columns
        ([tag, tag1], dimension=_FEATURE_EMBEDDING_SIZE['tag']),
    year,
    updatetype1,
    score1,
    year1
]

base_columns = [
    updatetype,
    channelid,
    area,
    cpid,
    actor,
    director,
    language,
    paytype,
    updatetype1,
    channelid1,
    area1,
    cpid1,
    actor1,
    director1,
    language1,
    paytype1,
]

_HASH_BUCKET_SIZE = 1024

cross_columns = [
    tf.feature_column.crossed_column(
    ['actor', 'actor1'], hash_bucket_size=_HASH_BUCKET_SIZE),
    tf.feature_column.crossed_column(
    ['director', 'director1'], hash_bucket_size=_HASH_BUCKET_SIZE),
    tf.feature_column.crossed_column(
    ['cpid', 'cpid1'], hash_bucket_size=_HASH_BUCKET_SIZE),
    tf.feature_column.crossed_column(
    ['tag', 'tag1'], hash_bucket_size=_HASH_BUCKET_SIZE)
]

wide_columns = base_columns + cross_columns

In [3]:
dataset = tf.data.Dataset.from_tensors({'key': [[1], [2]], 'value': [[2], [3]]})

In [4]:
dataset.repeat(32)

In [5]:
dataset.batch(32)

In [6]:
import pandas as pd

In [30]:
data = pd.read_json('/Users/qianjay/video_parsed.dat')
data.head()

,Updatetype,actor,albumname,area,channelid,cpid,director,id,language,paytype,score,tag,year
0,0,9850,庆元明代银矿探秘,65,0,0,9675,02|3294913,0,0,7.6,7676,2017
1,0,9850,习近平就俄罗斯军机坠毁事件向普京致慰问电,65,1,0,9675,02|3164963,0,0,8.2,"647,8875",2016
2,0,9850,走一线看经济 大有可为的甜蜜事业,65,1,0,9675,02|3561132,0,0,8.0,0,2018
3,0,9850,壹起去旅行,65,1,0,9675,02|12271,1,0,8.0,"5891,7379",2016
4,0,9850,德云社：桃花女破周公（郭德纲）,65,1,0,4128,02|966626,2,0,6.1,8976,2013

In [31]:
data = data[['id', 'actor', 'Updatetype', 'area', 'channelid', 'cpid', 'director', 'language', 'paytype', 'score', 'tag', 'year']]
data['updatetype'] = data['Updatetype']
data = data.drop(['Updatetype'], axis=1)

In [32]:
data.head()

,id,actor,area,channelid,cpid,director,language,paytype,score,tag,year,updatetype
0,02|3294913,9850,65,0,0,9675,0,0,7.6,7676,2017,0
1,02|3164963,9850,65,1,0,9675,0,0,8.2,"647,8875",2016,0
2,02|3561132,9850,65,1,0,9675,0,0,8.0,0,2018,0
3,02|12271,9850,65,1,0,9675,1,0,8.0,"5891,7379",2016,0
4,02|966626,9850,65,1,0,4128,2,0,6.1,8976,2013,0

In [33]:
SINGLE_FEATURE_COLUMN = {'channelid', 'cpid', 'language', 'paytype'}
data_dict = {}
for key in SINGLE_FEATURE_COLUMN:
    l = [[v] for v in data[key].tolist()]
    data_dict[key] = l

In [34]:
dataset = tf.data.Dataset.from_tensors(data_dict)

In [35]:
dataset

In [36]:
MULTI_FEATURE_COLUMNS = {'actor', 'area', 'director', 'tag'}
for key in MULTI_FEATURE_COLUMNS:
    l = [str(v).split(',') for v in data[key].tolist()]
    l = [[int(v) for v in vv] for vv in l]
    maxl = max([len(word) for word in l])
    print(maxl)
    for v in l:
        while len(v) < maxl:
            v.append(-1)
    data_dict[key] = l

54
63
8
23

In [38]:
data_dict.keys()

dict_keys(['paytype', 'language', 'cpid', 'channelid', 'actor', 'director', 'area', 'tag'])

In [28]:
dataset = tf.data.Dataset.from_tensors(data_dict)

In [29]:
dataset

<TensorDataset shapes: {paytype: (171962, 1), language: (171962, 1), cpid: (171962, 1), channelid: (171962, 1), actor: (171962, 54), director: (171962, 63), area: (171962, 8), tag: (171962, 23)}, types: {paytype: tf.int32, language: tf.int32, cpid: tf.int32, channelid: tf.int32, actor: tf.int32, director: tf.int32, area: tf.int32, tag: tf.int32}>

In [25]:
data.head()

,id,actor,area,channelid,cpid,director,language,paytype,score,tag,year,updatetype
0,02|3294913,9850,65,0,0,9675,0,0,7.6,7676,2017,0
1,02|3164963,9850,65,1,0,9675,0,0,8.2,"647,8875",2016,0
2,02|3561132,9850,65,1,0,9675,0,0,8.0,0,2018,0
3,02|12271,9850,65,1,0,9675,1,0,8.0,"5891,7379",2016,0
4,02|966626,9850,65,1,0,4128,2,0,6.1,8976,2013,0

In [22]:
[len(str(v).split(',')) for v in data['actor']]

for v in data['actor']:
    if len(str(v).split(',')) == 54:
        print(v)

9940,6485,4376,1209,14021,8288,13115,9043,6068,6717,1899,5097,12724,8364,3038,895,383,9632,14989,5135,4738,4601,13202,2021,13121,5084,6393,2396,2793,5392,2372,12470,9154,4031,865,12190,7232,9569,3144,14654,13306,9136,9905,1003,6204,974,9887,9581,559,9300,3814,12608,10994,4992